@charset "UTF-8";
/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/***La largeur, le nombre de colonnes, la taille des gouti├¿res et marges sont d├®finies dans des variables.***/
/**Le mixin, nomm├® grid, g├®n├¿re des lignes qui contiennent des cellules (que beaucoup nomment colonnes).**/
/* $last-column a prendre en compte ??? */
/****************************************************************************/
/*.row{
    @include row(100%,2%);
    .col1{
        @include column(1,12);
    }
    .col2{
        @include column(2,12);
    }
    .col3{
        @include column(3,12);
    }
	.col4{
        @include column(4,12);
    }
	.col5{
        @include column(5,12);
    }
	.col6{
        @include column(6,12);
    }
	.col7{
        @include column(7,12);
    }
	.col8{
        @include column(8,12);
    }
	.col9{
        @include column(9,12);
    }
	.col10{
        @include column(10,12);
    }
	.col11{
        @include column(11,12);
    }
	.col12{
        @include column(12,12);
    }
}

@media screen and (max-width: $sizeTablet) {
  body {
    margin-top: 0.5em;
  }
  .row .box1 {
    @include column(1, 1);
    background-color: red;
  }
  .row .box3 {
    @include column(1, 4);
    background-color: green;
  }
  .row .box4 {
    @include column(1, 4);
    margin-bottom: $pad;
    background-color: blue;
  }
}

@media screen and (max-width: $sizeMobile) {
  .row .box3 {
    @include pad;
  }

}*/
 /*320px mobile portrait
480px mobile paysage
600px petite tablette portrait
768px tablette 10pouces portrait (ipad)
1024px tablette paysage et petit pc portable
1200px ecran ordi*/
/*largeur d'une ligne*/
/*margin bottom d'une ligne*/
/* line 20, ../sass/final.scss */
.row {
  width: 100%;
  /* min-width: $width;
   max-width: $width;*/
  margin-top: 0.5em;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
}
/* line 18, ../sass/framework/_GrilleFramMixins.scss */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* line 25, ../sass/final.scss */
.rowVale {
  width: 100%;
  /* min-width: $width;
   max-width: $width;*/
  margin-top: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
}
/* line 18, ../sass/framework/_GrilleFramMixins.scss */
.rowVale:after {
  content: "";
  display: table;
  clear: both;
}
/* line 30, ../sass/final.scss */
.rowVale .info_article, .rowVale .info_annonceur, .rowVale .info_login {
  /*taille d'une colonne*/
  width: 99%;
  float: left;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0 0.5%;
  /*regarde si on demande une valeur de pouss├®e diff├®rent de z├®ro */
}

/* line 36, ../sass/final.scss */
body {
  background-color: #8ce0c4;
  /*article:first-child{
  	ul.navbar{
  		display: block;
  	}
  }*/
}
/* line 41, ../sass/final.scss */
body nav ul.navbar {
  display: none;
}
/* line 51, ../sass/final.scss */
body div.indexfirst section:first-of-type {
  display: none;
}
/* line 55, ../sass/final.scss */
body .annonce {
  /*taille d'une colonne*/
  width: 99%;
  float: left;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0 0.5%;
  /*regarde si on demande une valeur de pouss├®e diff├®rent de z├®ro */
  margin-bottom: 0.3em;
  background-color: #8ce0c4;
}
/* line 60, ../sass/final.scss */
body .annonce img {
  max-width: 100%;
  /*70%*/
  /*taille d'une colonne*/
  width: 65.66667%;
  float: left;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0 0.5%;
  /*regarde si on demande une valeur de pouss├®e diff├®rent de z├®ro */
}
/* line 64, ../sass/final.scss */
body .annonce div {
  /*taille d'une colonne*/
  width: 32.33333%;
  float: left;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0 0.5%;
  /*regarde si on demande une valeur de pouss├®e diff├®rent de z├®ro */
  font-size: 1.3em;
  overflow: hidden;
  line-height: 1.5em;
}
/* line 70, ../sass/final.scss */
body .annonce a {
  text-decoration: none;
}

/* line 77, ../sass/final.scss */
header {
  background-color: #8ce0c4;
  background-image: url("../images/header.jpg");
  min-height: 10em;
  text-align: center;
}
/* line 83, ../sass/final.scss */
header h2 {
  font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", Charcoal, "Helvetica Inserat", "Bitstream Vera Sans Bold", "Arial Black", sans serif;
  margin-top: 2.5%;
}
/* line 86, ../sass/final.scss */
header h2 a {
  color: #fff;
  text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.8);
}
/* line 92, ../sass/final.scss */
header a {
  text-decoration: none;
  color: black;
}

/* line 100, ../sass/final.scss */
footer {
  background-color: #245759;
  height: 5em;
  padding-top: 4%;
  display: inline-block;
  width: 100%;
}
/* line 104, ../sass/final.scss */
footer p {
  text-align: center;
  font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", Charcoal, "Helvetica Inserat", "Bitstream Vera Sans Bold", "Arial Black", sans serif;
}

/* line 117, ../sass/final.scss */
.title-add {
  font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", Charcoal, "Helvetica Inserat", "Bitstream Vera Sans Bold", "Arial Black", sans serif;
  text-align: center;
  color: #ffffff;
  /*background-color: black;*/
  height: 3em;
  margin-bottom: 5%;
  margin-top: 1%;
  text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.8);
}

/* line 128, ../sass/final.scss */
.titleCat {
  color: #f7483b;
  background-color: #525252;
  text-align: center;
  padding: 0.3em;
  /*display: block;*/
}

/* line 136, ../sass/final.scss */
.titleAnnonce {
  color: #f7483b;
  background-color: #525252;
  padding: 0.3em;
  text-decoration: none;
}

/* line 143, ../sass/final.scss */
.price {
  background-color: #f7483b;
  color: #fff;
  -moz-border-radius: 10px 10px 10px 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px 10px 10px 10px;
  padding: 0.5em;
  display: block;
}

/* line 153, ../sass/final.scss */
section.add h4 {
  background-color: #525252;
  width: 18em;
  padding-top: 1%;
  padding-bottom: 2%;
  padding-left: 2%;
  line-height: 1.5em;
  color: #f7483b;
}
/* line 163, ../sass/final.scss */
section.add article {
  background-color: #525252;
  margin-bottom: 5em;
  padding-left: 5%;
  padding-right: 5%;
}

/* line 171, ../sass/final.scss */
textarea.form-control {
  height: auto;
}

/* line 175, ../sass/final.scss */
#jumbotron {
  display: none;
}

/*----------------------*\
	$Medium (tablettes)
\*---------------------- */
@media screen and (min-width: 640px) {
  /* line 183, ../sass/final.scss */
  body .title-add {
    font-size: 2em;
  }
  /* line 189, ../sass/final.scss */
  body header nav button {
    display: none;
  }
  /* line 194, ../sass/final.scss */
  body header h2 {
    font-size: 4em;
  }
  /* line 199, ../sass/final.scss */
  body nav ul.navbar {
    display: block;
  }
  /* line 202, ../sass/final.scss */
  body nav ul.navbar li a {
    color: #fff;
  }
  /* line 208, ../sass/final.scss */
  body div.indexfirst section > div {
    background-color: #444;
    margin-bottom: 30px;
  }
  /* line 213, ../sass/final.scss */
  body div.indexfirst aside:first-of-type {
    margin-bottom: 1em;
  }
  /* line 214, ../sass/final.scss */
  body div.indexfirst aside:first-of-type ul.navbar {
    display: block;
    width: 100%;
  }
  /* line 217, ../sass/final.scss */
  body div.indexfirst aside:first-of-type ul.navbar li {
    display: inline-block;
    width: 50%;
  }
  /* line 226, ../sass/final.scss */
  body section.indexsecond div {
    /*taille d'une colonne*/
    width: 32.33333%;
    float: left;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0 0.5%;
    /*regarde si on demande une valeur de pouss├®e diff├®rent de z├®ro */
    /*background-color: #525252;*/
    margin-bottom: 0.8em;
  }
  /* line 231, ../sass/final.scss */
  body section.indexsecond div img {
    max-width: 100%;
    /*70%*/
    /*taille d'une colonne*/
    width: 65.66667%;
    float: left;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0 0.5%;
    /*regarde si on demande une valeur de pouss├®e diff├®rent de z├®ro */
  }
  /* line 235, ../sass/final.scss */
  body section.indexsecond div div {
    /*taille d'une colonne*/
    width: 32.33333%;
    float: left;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0 0.5%;
    /*regarde si on demande une valeur de pouss├®e diff├®rent de z├®ro */
    font-size: 1.3em;
  }

  /* line 242, ../sass/final.scss */
  .price {
    padding: 0.5em;
    font-size: 1em;
    display: inline-block;
    /*margin-top: 100%;*/
  }

  /* line 249, ../sass/final.scss */
  body nav ul.navbar {
    display: block;
    width: 100%;
    background-color: transparent;
  }
  /* line 254, ../sass/final.scss */
  body nav ul.navbar li {
    background-color: transparent;
    color: #fff;
  }
  /* line 257, ../sass/final.scss */
  body nav ul.navbar li:hover {
    background-color: transparent;
  }
  /* line 260, ../sass/final.scss */
  body nav ul.navbar li a {
    color: #fff;
    text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.8);
    text-transform: uppercase;
    font-weight: bold;
  }
  /* line 265, ../sass/final.scss */
  body nav ul.navbar li a:hover {
    /*border-left: solid 2px;*/
    background-color: #8ce0c4;
  }

  /* line 272, ../sass/final.scss */
  section.add h4 {
    font-size: 1.5em;
  }
}
/*----------------------*\
	$Large
\*---------------------- */
@media screen and (min-width: 1024px) {
  /*width: 100%; margin: auto; margin-bottom: 0.5em;*/
  /* line 286, ../sass/final.scss */
  body header .title-add {
    font-size: 2em;
  }
  /* line 290, ../sass/final.scss */
  body header h2 {
    font-size: 4em;
  }
  /* line 294, ../sass/final.scss */
  body header nav button {
    display: none;
  }
  /* line 300, ../sass/final.scss */
  body div.indexfirst section:first-of-type {
    display: block;
    margin-bottom: 0.5em;
    /*taille d'une colonne*/
    width: 65.66667%;
    float: left;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0 0.5%;
    /*regarde si on demande une valeur de pouss├®e diff├®rent de z├®ro */
    /*background-color: */
  }
  /* line 306, ../sass/final.scss */
  body div.indexfirst section:first-of-type div {
    /*taille d'une colonne*/
    width: 99%;
    float: left;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0 0.5%;
    /*regarde si on demande une valeur de pouss├®e diff├®rent de z├®ro */
  }
  /* line 308, ../sass/final.scss */
  body div.indexfirst section:first-of-type div div {
    /*taille d'une colonne*/
    width: 75%;
    float: left;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0 0;
    /*regarde si on demande une valeur de pouss├®e diff├®rent de z├®ro */
  }
  /* line 311, ../sass/final.scss */
  body div.indexfirst section:first-of-type div img {
    /*max-width: 20%;*/
    /*taille d'une colonne*/
    width: 25%;
    float: left;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0 0;
    /*regarde si on demande une valeur de pouss├®e diff├®rent de z├®ro */
  }
  /* line 318, ../sass/final.scss */
  body div.indexfirst aside:first-of-type {
    /*taille d'une colonne*/
    width: 32.33333%;
    float: left;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0 0.5%;
    /*regarde si on demande une valeur de pouss├®e diff├®rent de z├®ro */
  }
  /* line 320, ../sass/final.scss */
  body div.indexfirst aside:first-of-type ul.navbar {
    display: block;
    width: 100%;
  }
  /* line 323, ../sass/final.scss */
  body div.indexfirst aside:first-of-type ul.navbar li {
    display: inline-block;
    width: 100%;
  }
  /* line 329, ../sass/final.scss */
  body section.indexsecond {
    /*&.row{
    	width: 80%;
    }*/
  }
  /* line 334, ../sass/final.scss */
  body section.indexsecond div.annonce {
    /*taille d'une colonne*/
    width: 19.0%;
    float: left;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0 0.5%;
    /*regarde si on demande une valeur de pouss├®e diff├®rent de z├®ro */
    /*background-color: #525252;*/
    margin-bottom: 0.8em;
  }
  /* line 339, ../sass/final.scss */
  body section.indexsecond div.annonce img {
    max-width: 100%;
    /*70%*/
    /*taille d'une colonne*/
    width: 99%;
    float: left;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0 0.5%;
    /*regarde si on demande une valeur de pouss├®e diff├®rent de z├®ro */
  }
  /* line 343, ../sass/final.scss */
  body section.indexsecond div.annonce div {
    /*taille d'une colonne*/
    width: 99%;
    float: left;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0 0.5%;
    /*regarde si on demande une valeur de pouss├®e diff├®rent de z├®ro */
  }

  /* line 349, ../sass/final.scss */
  section.add h4 {
    margin-left: 5%;
  }

  /* line 353, ../sass/final.scss */
  .info_login .form-horizontal div:first-child {
    /*taille d'une colonne*/
    width: 32.33333%;
    float: left;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0 0.5%;
    /*regarde si on demande une valeur de pouss├®e diff├®rent de z├®ro */
  }

  /* line 357, ../sass/final.scss */
  .info_login .form-horizontal div:nth-child(2) {
    /*taille d'une colonne*/
    width: 32.33333%;
    float: left;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0 0.5%;
    /*regarde si on demande une valeur de pouss├®e diff├®rent de z├®ro */
  }

  /* line 361, ../sass/final.scss */
  .info_login .form-horizontal div:last-child {
    /*taille d'une colonne*/
    width: 32.33333%;
    float: left;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0 0.5%;
    /*regarde si on demande une valeur de pouss├®e diff├®rent de z├®ro */
  }

  /* line 365, ../sass/final.scss */
  .rowVale {
    margin: auto;
    width: 90%;
    /* min-width: $width;
     max-width: $width;*/
    margin-top: 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 4%;
  }
  /* line 18, ../sass/framework/_GrilleFramMixins.scss */
  .rowVale:after {
    content: "";
    display: table;
    clear: both;
  }
  /* line 371, ../sass/final.scss */
  .rowVale .info_article, .rowVale .info_annonceur {
    /*taille d'une colonne*/
    width: 49%;
    float: left;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0 0.5%;
    /*regarde si on demande une valeur de pouss├®e diff├®rent de z├®ro */
  }
}
/***************** pages rechercher ************************/
/* line 382, ../sass/final.scss */
section.recherche h4 {
  background-color: #525252;
  width: 8em;
  padding-top: 1%;
  padding-bottom: 2%;
  padding-left: 2%;
  line-height: 1.5em;
  color: #f7483b;
  font-size: 1.1em;
}
/* line 393, ../sass/final.scss */
section.recherche article {
  background-color: #525252;
  margin-bottom: 5em;
  padding-left: 5%;
  padding-right: 5%;
}
/* line 402, ../sass/final.scss */
section.recherche input[type="range"] {
  position: relative;
}
/* line 406, ../sass/final.scss */
section.recherche input[type="range"]:after,
section.recherche input[type="range"]:before {
  position: absolute;
  top: 1.5em;
  color: #aaa;
}
/* line 413, ../sass/final.scss */
section.recherche input[type="range"]:before {
  left: 0em;
  content: attr(min);
}
/* line 418, ../sass/final.scss */
section.recherche input[type="range"]:after {
  right: 0em;
  content: attr(max);
}
/* line 423, ../sass/final.scss */
section.recherche #outputrange {
  position: relative;
  margin-left: 50%;
}

/* line 431, ../sass/final.scss */
section.result-recherche article div {
  /*taille d'une colonne*/
  width: 99%;
  float: left;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0 0.5%;
  /*regarde si on demande une valeur de pouss├®e diff├®rent de z├®ro */
  background-color: #525252;
  margin-bottom: 0.3em;
}
/* line 436, ../sass/final.scss */
section.result-recherche article div img {
  max-width: 100%;
  /*70%*/
  /*taille d'une colonne*/
  width: 65.66667%;
  float: left;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0 0.5%;
  /*regarde si on demande une valeur de pouss├®e diff├®rent de z├®ro */
}
/* line 441, ../sass/final.scss */
section.result-recherche article div div {
  /*taille d'une colonne*/
  width: 32.33333%;
  float: left;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0 0.5%;
  /*regarde si on demande une valeur de pouss├®e diff├®rent de z├®ro */
}
/* line 444, ../sass/final.scss */
section.result-recherche article div div a {
  text-decoration: none;
  color: black;
  /*margin-bottom: 2em;*/
}
/* line 452, ../sass/final.scss */
section.result-recherche article div p.description {
  display: none;
}
/* line 457, ../sass/final.scss */
section.result-recherche article a {
  text-decoration: none;
}
/* line 462, ../sass/final.scss */
section.result-recherche article h6.titleAnnonce {
  text-decoration: none;
  color: black;
  padding-bottom: 1em;
}
/* line 470, ../sass/final.scss */
section.result-recherche .annonce {
  padding: 3%;
}

@media screen and (min-width: 640px) {
  /* line 477, ../sass/final.scss */
  section.recherche h4 {
    font-size: 1.3em;
  }

  /* line 482, ../sass/final.scss */
  section.result-recherche article div {
    /*taille d'une colonne*/
    width: 24%;
    float: left;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0 0.5%;
    /*regarde si on demande une valeur de pouss├®e diff├®rent de z├®ro */
    background-color: #525252;
    margin-bottom: 0.8em;
    min-height: 6em;
  }
  /* line 488, ../sass/final.scss */
  section.result-recherche article div img {
    max-width: 100%;
    /*70%*/
    /*taille d'une colonne*/
    width: 65.66667%;
    float: left;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0 0.5%;
    /*regarde si on demande une valeur de pouss├®e diff├®rent de z├®ro */
  }
  /* line 493, ../sass/final.scss */
  section.result-recherche article div div {
    /*taille d'une colonne*/
    width: 99%;
    float: left;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0 0.5%;
    /*regarde si on demande une valeur de pouss├®e diff├®rent de z├®ro */
  }
  /* line 498, ../sass/final.scss */
  section.result-recherche article h6.titleAnnonce {
    font-size: 1.1em;
  }
}
@media screen and (min-width: 1024px) {
  /* line 508, ../sass/final.scss */
  section.recherche {
    /*taille d'une colonne*/
    width: 32.33333%;
    float: left;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0 0.5%;
    /*regarde si on demande une valeur de pouss├®e diff├®rent de z├®ro */
  }
  /* line 512, ../sass/final.scss */
  section.recherche h4 {
    margin-left: 5%;
    font-size: 1.5em;
  }

  /* line 518, ../sass/final.scss */
  section.result-recherche {
    /*taille d'une colonne*/
    width: 65.66667%;
    float: left;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0 0.5%;
    /*regarde si on demande une valeur de pouss├®e diff├®rent de z├®ro */
  }
  /* line 521, ../sass/final.scss */
  section.result-recherche article div {
    /*taille d'une colonne*/
    width: 99%;
    float: left;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0 0.5%;
    /*regarde si on demande une valeur de pouss├®e diff├®rent de z├®ro */
    margin-bottom: 3%;
  }
  /* line 525, ../sass/final.scss */
  section.result-recherche article div img {
    max-width: 20%;
  }
  /* line 530, ../sass/final.scss */
  section.result-recherche article div div {
    /*taille d'une colonne*/
    width: 32.33333%;
    float: left;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0 0.5%;
    /*regarde si on demande une valeur de pouss├®e diff├®rent de z├®ro */
    float: none;
  }
  /* line 536, ../sass/final.scss */
  section.result-recherche article div p.description {
    display: block;
    /*margin-top: 3em;*/
    /*
                            padding-left: 10em;
    */
    text-align: justify;
  }
  /* line 546, ../sass/final.scss */
  section.result-recherche article h6.titleAnnonce {
    font-size: 1.3em;
  }
}
/***************** fin pages rechercher ************************/
/***************** pages annonce ************************/
/* line 561, ../sass/final.scss */
section.annonces img {
  /*taille d'une colonne*/
  width: 82.33333%;
  float: left;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0 0.5%;
  /*regarde si on demande une valeur de pouss├®e diff├®rent de z├®ro */
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 2em;
}
/* line 568, ../sass/final.scss */
section.annonces a {
  text-decoration: none;
}
/* line 572, ../sass/final.scss */
section.annonces h6.titleAnnonce {
  text-decoration: none;
  color: black;
  padding-top: 1em;
}
/* line 578, ../sass/final.scss */
section.annonces h6.titleCategorie {
  font-size: 0.9em;
  color: black;
  padding-top: 1em;
}
/* line 584, ../sass/final.scss */
section.annonces h4 {
  background-color: #525252;
  width: 18em;
  padding-top: 1%;
  padding-bottom: 2%;
  padding-left: 2%;
  line-height: 1.5em;
  color: #f7483b;
  font-size: 1.1em;
}
/* line 595, ../sass/final.scss */
section.annonces article {
  /*@include column(12,12);*/
  background-color: #525252;
  margin-bottom: 3em;
  padding-left: 5%;
  padding-right: 5%;
}
/* line 603, ../sass/final.scss */
section.annonces ul {
  margin: 0;
  font-size: 1em;
}
/* line 608, ../sass/final.scss */
section.annonces p {
  /*taille d'une colonne*/
  width: 99%;
  float: left;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0 0.5%;
  /*regarde si on demande une valeur de pouss├®e diff├®rent de z├®ro */
  text-align: justify;
  margin-top: 6%;
  margin-bottom: 6%;
  font-size: 1em;
}
/* line 616, ../sass/final.scss */
section.annonces .vignette {
  display: none;
}

@media screen and (min-width: 640px) {
  /* line 625, ../sass/final.scss */
  section.annonces img {
    /*taille d'une colonne*/
    width: 32.33333%;
    float: left;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0 0.5%;
    /*regarde si on demande une valeur de pouss├®e diff├®rent de z├®ro */
    margin-left: 0%;
    margin-right: 1%;
    margin-top: 2em;
    float: right;
  }
  /* line 633, ../sass/final.scss */
  section.annonces h6.titleAnnonce {
    padding-top: 1em;
    font-size: 1.1em;
  }
  /* line 638, ../sass/final.scss */
  section.annonces h6.titleCategorie {
    font-size: 1em;
  }
  /* line 642, ../sass/final.scss */
  section.annonces ul {
    margin: 0;
    font-size: 1.2em;
  }
  /* line 647, ../sass/final.scss */
  section.annonces p {
    /*taille d'une colonne*/
    width: 65.66667%;
    float: left;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0 0.5%;
    /*regarde si on demande une valeur de pouss├®e diff├®rent de z├®ro */
    margin-top: 6%;
    margin-bottom: 6%;
    font-size: 1.2em;
  }
  /* line 654, ../sass/final.scss */
  section.annonces .vignette {
    display: block;
  }
  /* line 657, ../sass/final.scss */
  section.annonces .vignette img {
    width: 10%;
    /*clear: both;*/
    display: inline-block;
  }
  /* line 665, ../sass/final.scss */
  section.annonces h4 {
    font-size: 1.3em;
  }
}
@media screen and (min-width: 1024px) {
  /* line 677, ../sass/final.scss */
  section.annonces img {
    /*taille d'une colonne*/
    width: 32.33333%;
    float: left;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0 0.5%;
    /*regarde si on demande une valeur de pouss├®e diff├®rent de z├®ro */
    margin-left: 0%;
    margin-right: 1%;
    margin-top: 2em;
    float: right;
  }
  /* line 686, ../sass/final.scss */
  section.annonces h6.titleAnnonce {
    padding-top: 1em;
    font-size: 1.5em;
  }
  /* line 691, ../sass/final.scss */
  section.annonces h6.titleCategorie {
    font-size: 1.2em;
  }
  /* line 696, ../sass/final.scss */
  section.annonces ul {
    margin: 0;
    font-size: 1.2em;
  }
  /* line 701, ../sass/final.scss */
  section.annonces p {
    /*taille d'une colonne*/
    width: 65.66667%;
    float: left;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0 0.5%;
    /*regarde si on demande une valeur de pouss├®e diff├®rent de z├®ro */
    margin-top: 6%;
    margin-bottom: 6%;
    font-size: 1.2em;
  }
  /* line 708, ../sass/final.scss */
  section.annonces .vignette {
    display: block;
  }
  /* line 711, ../sass/final.scss */
  section.annonces .vignette img {
    width: 10%;
    /*clear: both;*/
    display: inline-block;
  }
  /* line 719, ../sass/final.scss */
  section.annonces h4 {
    margin-left: 5%;
    font-size: 1.5em;
  }
}
/***************** fin pages annonce ************************/
